<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
  <body>
    <h2>Steps to philosophy</h2>
    <div>
      <form action="javascript:processInput();">
        <input id="input" type="text" size='50' placeholder="Example: Basketball">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div>
      <ol id="list">
      </ol>
    </div>
    <script>
      function processInput() {
        getFirstLink(document.getElementById('input').value);
      }
      function getFirstLink(title) {
        console.log('getFirstLink(' + title + ')');
        $("ol#list").append("<li><a href=http://en.wikipedia.org/wiki/" + title + ">" + title + "</a></li>");
        var lastPage = 'Philosophy';
        if (title.toLowerCase() == lastPage.toLowerCase()) {
          console.log('Found philosophy!');
          return;
        }
        $.get("/getfirstlink/", { "title": title })
        .done(function(data) {
          var json = $.parseJSON(data);
          var firstLink = json["first_link"]
          console.log('Received response: ' + firstLink);
          getFirstLink(firstLink);
        })
        .error(function(req, status, err) {
          alert("Received error " + string(status));
        })
      }
    </script>
  </body>
</html>
